<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer>
  <section class="section_footer">
      <picture>
          <img th:src="@{/media/logo_IA_Medica-blanco.svg}" alt="logotipo VitaLink">
      </picture>
    <section class="section_nav_footer">
      <nav>
        <ul>
            <li><a th:href="@{/}" class="menu">Inicio</a></li>
            <li><a th:href="@{/serviciosCliente}" class="menu">Servicios Cliente</a></li>
            <li><a th:href="@{/serviciosEmpresa}" class="menu">Servicios Empresa</a></li>
            <li><a href="#" class="menu">Documentación</a></li>
            <li><a th:href="@{/contacto}" class="menu">Contacto</a></li>
        </ul>
      </nav>
    </section>
    <section class="section_nav_politics">
      <nav>
        <ul>
          <li><a href="#">Políticas Privacidad</a></li>
          <li><a th:href="@{/terminoCondiciones.html}">Políticas de uso</a></li>
          <li><a href="#">Politicas de cookies</a></li>
          <li><a href="#">Base legal</a></li>
        </ul>
      </nav>
    </section>
  </section>
</footer>
</body>
</html>