<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer>
  <section class="section_footer">
    <picture><img src="./media/logo_IA_Medica-blanco.svg" alt="logotipo VitaLink"></picture>
    <section class="section_nav_footer">
      <nav>
        <ul>
          <li><a href="./index.html">Inicio</a></li>
          <li><a href="./serviciosCliente.html">Servicios Clientes</a></li>
          <li><a href="./serviciosEmpresa.html">Servicios Empresas</a></li>
          <li><a href="#">Documentación</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </section>
    <section class="section_nav_politics">
      <nav>
        <ul>
          <li><a href="#">Políticas Privacidad</a></li>
          <li><a href="./terminoCondiciones.html">Políticas de uso</a></li>
          <li><a href="#">Politicas de cookies</a></li>
          <li><a href="./panelUsuario.html">Base legal</a></li>
        </ul>
      </nav>
    </section>
  </section>
</footer>
</body>
</html>