<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Consultar citas por usuario</title>
    <link rel="shortcut icon" th:href="@{/media/favicon_IA_Medica.ico}" type="image/x-icon">
    <link rel="stylesheet" href="/css/style2.css"> <!-- Asegúrate de tener este estilo -->
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<section>
    <h2>Consultar Citas de Usuarios</h2>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.cliente.nombre + ' ' + usuario.cliente.apellidos}">Nombre</td>
            <td th:text="${usuario.cliente.correoElectronico}">Correo</td>
            <td th:text="${usuario.cliente.telefono}">Teléfono</td>
            <td>
                <a th:href="@{'/agendaCitas?idUsuario=' + ${usuario.id_usuario}}" class="btn btn-primary">Ver Citas</a>
            </td>
        </tr>
        </tbody>
    </table>
    <section id="calendario">
        <h2>Mis Citas Registradas</h2>
        <div id="calendar"></div>
    </section>
</section>
<div th:replace="fragments/footer :: footer"></div>
<script th:src="@{/js/calendario.js}"></script>
</body>
</html>
