<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Listado de Clientes</title>
  <link rel="stylesheet" th:href="@{/css/style2.css}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</head>
<body>

<section>
  <div th:replace="~{fragments/header :: header}"></div>

  <main class="main_lista_clientes">
    <h2>Listado de Clientes</h2>

    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Nacimiento</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Tipo Documento</th>
        <th>Número Identificación</th>
        <th>Tarjeta Sanitaria</th>
        <th>Género</th>
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>Código Postal</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.idCliente}"></td>
        <td th:text="${cliente.nombre}"></td>
        <td th:text="${cliente.apellidos}"></td>
        <td th:text="${cliente.nacimiento}"></td>
        <td th:text="${cliente.correo_electronico}"></td>
        <td th:text="${cliente.telefono}"></td>
        <td th:text="${cliente.tipo_documento}"></td>
        <td th:text="${cliente.numero_identificacion}"></td>
        <td th:text="${cliente.numero_tarjeta_sanitaria}"></td>
        <td th:text="${cliente.genero}"></td>
        <td th:text="${cliente.direccion}"></td>
        <td th:text="${cliente.ciudad_id}"></td>
        <td th:text="${cliente.cp_id}"></td>
        <td>
          <a th:href="@{'/clientes/editar/' + ${cliente.idCliente}}">Editar</a>
          <a th:href="@{'/clientes/eliminar/' + ${cliente.idCliente}}">Editar</a>
        </td>
      </tr>
      </tbody>
    </table>
  </main>

  <div th:replace="~{fragments/footer :: footer}"></div>
</section>

</body>
</html>
