<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Panel de usuario con estadísticas, recordatorios y gestión médica para mejorar el seguimiento de tratamientos.">
    <title>Panel de Usuario</title>
    <link rel="shortcut icon" th:href="@{/media/favicon_IA_Medica.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style2.css}" type="text/css">

</head>
<body>
<section class="contenedor">
    <div th:replace="~{fragments/header :: header}"></div>

    <main id="main_panelUser">

        <section class="section_main" sec:authorize="hasRole('USER')">
            <section class="section_panelUser">
                <nav class="nav_panelUser">
                    <ul>
                        <li><a href="/pedirCita" title="Ver estadísticas de usuario">Citas</a></li>
                        <li><a th:href="@{/usuarios/registroSintomas}">Sintomas</a></li>
                        <li><a href="/tratamientos" title="Ver tratamientos">Tratamientos</a></li>
                        <li><a th:href="@{/usuarios/recordatorios}" title="Ver recordatorios">Recordatorios</a></li>
                        <li><a href="/estadisticasUsuario" title="Ver estadísticas de usuario">Estadísticas</a></li>
                        <li><a th:href="@{/usuarios/historialPaciente}">Historial</a></li>
                        <li><a href="/usuarios/configUsuario" title="Configuración de usuario">Configuración</a></li>
                    </ul>
                </nav>
            </section>
            <section>
                <form th:action="@{/logout}" method="post" class="logout-form">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="submit" class="btn-logout">
                        ⎋ Salir
                    </button>
                </form>
            </section>
            <section class="dashboard-overview">
                <div class="card">⏰ Recordatorios de Medicación</div>
                <div class="card">📉 Evolución de Síntomas</div>
                <div class="card">📊 Progreso del Tratamiento</div>
                <div class="card wide-card">📣 Notificaciones y Mensajes</div>
                <div class="card">✅ Adherencia al Tratamiento</div>
                <div class="card">⚠️ Alertas de Dosis Olvidadas</div>
                <div class="card">💬 Conversaciones Asistente</div>
            </section>

            <!-- Botón flotante -->
            <div id="chat-toggle" onclick="toggleChat()">💬</div>
            <!-- Ventana de chat -->
            <div id="chat-box">
                <div id="chat-header">Asistente Virtual <span onclick="toggleChat()">X</span></div>
                <div id="chat-body">
                    <p><strong>Asistente:</strong> ¡Hola! ¿En qué puedo ayudarte?</p>
                    <div id="chat-messages"></div>
                    <input type="text" id="chat-input" placeholder="Escribe tu mensaje aquí..." />
                </div>
            </div>


        </section>
        <section class="section_main" sec:authorize="hasRole('ADMIN')">
            <section class="section_panelUser">
                <nav class="nav_panelUser">
                    <ul>
                        <li><a th:href="@{/admin/usuarios}">Usuarios</a></li>
                        <li><a th:href="@{/admin/tratamientos}">Tratamientos</a></li>
                        <li><a th:href="@{/admin/citas}">Citas</a></li>
                        <li><a th:href="@{/admin/estadisticas}">Reportes</a></li>
                        <li><a th:href="@{/admin/chat}">Mensajes</a></li>
                        <li><a th:href="@{/admin/config}">Configuración</a></li>
                    </ul>
                </nav>
            </section>
            <section>
                <form th:action="@{/logout}" method="post" class="logout-form">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="submit" class="btn-logout">
                        ⎋ Salir
                    </button>
                </form>
            </section>
            <section class="dashboard-overview">
                <div class="card">👥 Gestion de Usuarios</div>
                <div class="card">🩺 Gestion Tratamientos</div>
                <div class="card">📅 Agenda y Control de Citas</div>
                <div class="card">📈 Panel Estadísticas y Reportes Globales</div>
                <div class="card">📬 Sistema Mensajería</div>
                <div class="card wide-card">🛠️ Configuraciones Generales</div>
            </section>
            <div id="chat-toggle2" onclick="toggleChat()">💬</div>
            <!-- Ventana de chat -->
            <div id="chat-box2">
                <div id="chat-header2">Asistente Virtual <span onclick="toggleChat()">X</span></div>
                <div id="chat-body2">
                    <p><strong>Asistente:</strong> ¡Hola! ¿En qué puedo ayudarte?</p>
                    <div id="chat-messages2"></div>
                    <input type="text" id="chat-input2" placeholder="Escribe tu mensaje aquí..." />
                </div>
            </div>
        </section>

        <section class="section_main" sec:authorize="hasRole('MEDICO')">
            <section class="section_panelUser">
                <nav class="nav_panelUser">
                    <ul>
                        <li><a th:href="@{/medico/pacientes}">Pacientes</a></li>
                        <li><a th:href="@{/medico/citas}">Citas</a></li>
                        <li><a th:href="@{/medico/tratamientos}">Tratamientos</a></li>
                        <li><a th:href="@{/medico/sintomas}">Sintomas</a></li>
                        <li><a th:href="@{/medico/chat}">Mensajes</a></li>
                        <li><a th:href="@{/medico/configMedico}">Configuración</a></li>
                    </ul>
                </nav>
            </section>
            <section>
                <form th:action="@{/logout}" method="post" class="logout-form">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="submit" class="btn-logout">
                        ⎋ Salir
                    </button>
                </form>
            </section>
            <section class="dashboard-overview">
                <div class="card">👥 Pacientes vinculados</div>
                <div class="card">📅 Citas Programadas Hoy</div>
                <div class="card">📈 Registro de Tratamientos</div>
                <div class="card">🧾 Reportes Sintomáticos Recientes</div>
                <div class="card">📬 Mensajes Pendientes</div>
                <div class="card wide-card">🛠️ Configuraciones Generales</div>
            </section>

            <div id="chat-toggle3" onclick="toggleChat()">💬</div>
            <!-- Ventana de chat -->
            <div id="chat-box3">
                <div id="chat-header3">Asistente Virtual <span onclick="toggleChat()">X</span></div>
                <div id="chat-body3">
                    <p><strong>Asistente:</strong> ¡Hola! ¿En qué puedo ayudarte?</p>
                    <div id="chat-messages3"></div>
                    <input type="text" id="chat-input3" placeholder="Escribe tu mensaje aquí..." />
                </div>
            </div>
        </section>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</section>
<script>
    function toggleChat() {
        const chatBox = document.getElementById("chat-box");
        chatBox.classList.toggle("open");
    }
    document.addEventListener('DOMContentLoaded', () => {
        const el = document.getElementById('ID');
        if (!el) return;
        el.addEventListener('click', handler);
    });
</script>
<script th:src="@{/js/admin-panel.js}" src="/js/admin-panel.js"></script>
<script th:src="@{/js/panelUsuario.js}" src="/js/panelUsuario.js"></script>
<script th:src="@{/js/darkTheme.js}" src="/js/darkTheme.js"></script>
<script th:src="@{/js/asistente.js}" src="/js/asistente.js"></script>
<script th:src="@{/js/sccript.js}" src="/js/sccript.js"></script>
</body>
</html>