<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Citas</title>
    <link rel="stylesheet" href="./css/style2.css">
    <link rel="shortcut icon" href="./media/favicon_IA_Medica.ico" type="image/x-icon">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.18/index.global.min.js'></script>
</head>
<body>
    <section class="contenedor">
        <div th:replace="fragments/header :: header"></div>
    
        <main id="main-calendar">
            <section id="formulario">
                <h2>Reservar Nueva Cita</h2>
                <form id="form-cita" th:action="@{/guardarCitas}" method="POST" th:object="${citas}">
                    <label for="paciente">Nombre del Paciente:</label>
                    <input type="text" id="paciente" name="paciente" th:field="*{titulo}" required>

                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" th:field="*{fecha}" required>

                    <label for="hora">Hora:</label>
                    <input type="time" id="hora" name="hora" th:field="*{hora}" required>

                    <label for="tipo">Tipo de Atención Médica:</label>
                    <select id="tipo" name="tipo" th:field="*{descripcion}" required>
                        <optgroup label="Citas Médicas">
                            <option value="Cita Médica Presencial">Cita Presencial</option>
                            <option value="Teleconsulta Médica">Teleconsulta</option>
                        </optgroup>
                        <optgroup label="Citas Enfermería">
                            <option value="Cita Enfermería Presencial">Cita Presencial</option>
                            <option value="Teleconsulta Enfermería">Teleconsulta</option>
                        </optgroup>
                    </select>
                    <button type="submit" id="btn-citas">Reservar Cita</button>
                </form>
                <div id="acciones-cita" style="display: none; margin-top: 20px;">
                    <h3>✅ ¡Cita registrada! Añádela a tu Google Calendar:</h3>
                    <a id="btn-google" class="btn" target="_blank">🗓️ Añadir a Google Calendar</a>
                </div>
            </section>
            <section id="calendario">
                <div id='calendar'></div>
            </section>
        </main>

        <div th:replace="fragments/footer :: footer"></div>
    </section>
    <script th:inline="javascript">
        const usuarioId = [[$,{id_usuario}]];
    </script>
    <script src="/js/calendario.js" defer></script>
</body>
</html>
