<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Tratamientos</title>
    <link rel="shortcut icon" href="./media/favicon_IA_Medica.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/style2.css">
    <script src="../static/js/tratamientos.js"></script>
</head>
<body>
    <section class="contenedor">
        <div th:replace="fragments/header :: header"></div>

        <main id="main-tratamientos">
            <section class="section-tratamientos">
              <h2>Nuevo Tratamiento</h2>
              <form id="formulario-tratamientos" th:action="@{guardarTratamiento}" method="get" th:object="${nuevaVisita}">
                <label for="nombre_tratamiento">Nombre del tratamiento:</label>
                <input type="text" id="nombre_tratamiento" required>

                <label for="nombre_tratamiento">Nombre del tratamiento:</label>
                <input type="text" id="nombre_medicamento" required>

                <label for="forma_farmaceutica">Forma farmacéutica:</label>
                <select id="forma_farmaceutica">
                  <option value=""></option>
                  <option value="tableta">Tableta</option>
                  <option value="jarabe">Jarabe</option>
                  <option value="inyectable">Inyectable</option>
                </select>

                <label for="dosis">Dosis (ej. 500mg):</label>
                <input type="text" id="dosis" required>

                <label for="frecuencia">Frecuencia:</label>
                <input type="text" id="frecuencia" placeholder="ej. Cada 8h, 1 vez al día">

                <label for="hora1">Horas de toma:</label>
                <input type="time" id="hora1">
                <input type="time" id="hora2">
                <input type="time" id="hora3">

                <label for="duracion">Duración (días):</label>
                <input type="number" id="duracion" min="1" required>

                <label for="inicio">Fecha de inicio:</label>
                <input type="date" id="inicio" required>

                  <label for="fin">Fecha de fin:</label>
                <input type="date" id="fin"  required>

                <label class="lb-checkbox"><input type="checkbox" id="con_alimentos"> Tomar con alimentos</label>

                <label for="observaciones">Observaciones:</label>
                <textarea id="observaciones"></textarea>

                <label for="estado">Estado:</label>
                <select id="estado">
                  <option value="activo">Activo</option>
                  <option value="finalizado">Finalizado</option>
                </select>

                <label for="relacion_sintomas">Síntomas o diagnóstico relacionado:</label>
                <input type="text" id="relacion_sintomas" placeholder="ej. Presión alta, dolor de cabeza">

                <button type="submit">Guardar tratamiento</button>
              </form>

              <section class="tratamiento-Registrado">
                <h2 class="text_center">Tratamientos Registrados</h2>
                <ul id="tratamientos-activos"></ul>
              </section>
            </section>
          </main>

        <div th:replace="fragments/footer :: footer"></div>
    </section>
</body>
</html>