<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios VitaLink</title>
    <link rel="shortcut icon" href="./media/favicon_IA_Medica.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <script src="/js/darkTheme.js" defer></script>
</head>
<body>
    <section>
        <div th:replace="fragments/header :: header"></div>

        <main class="main_Servicios">
            <section class="section_servicioCliente">
                <section class="video-section">
                    <h1>Descubre VitaLink - Tu Plataforma Médica Digital</h1>
                    <p>Gestiona tus citas, historiales médicos y tratamientos de manera sencilla e intuitiva.</p>
                    <div class="video-container">
                        <div class="video-card">
                            <video autoplay loop muted>
                                <source src="./media/video/VitaLink_ Streamlined_Hospital_Care.mp4" type="video/mp4">
                                Tu navegador no soporta el video.
                            </video>
                        </div>
                
                        <div class="video-card">
                            <video autoplay loop muted>
                                <source src="./media/video/video-ejemplo-de-aplicacion.mp4" type="video/mp4">
                                Tu navegador no soporta el video.
                            </video>
                        </div>
                    </div>
                </section>
                
                <!--  Section Calendario  -->
                <section class="resumen_Servicio_De">
                    <div class="img_servicio_De">
                        <img src="./media/img/gestion-pacientes-exp-medicos-2.jpeg" alt="gestion de pacientes y expedientes medicos">
                    </div>
                    <div class="content_Servicio_De">
                        <h2>Gestión de Pacientes y Expedientes Médicos</h2>
                        <p>Acceso centralizado a la información del paciente.</p>
                        <p>Registro detallado del historial clínico.</p>
                        <button>Descubre más</button>
                    </div>
                </section>

                <!--  Section Registro Sintomas  -->
                <section class="resumen_Servicio_Iz">
                    <div class="content_Servicio_Iz">
                        <h2>Monitoreo de Síntomas y Tratamientos</h2>
                        <p>Programación de citas con recordatorios automatizados.</p>
                        <p>Reducción del ausentismo y mejora en la organización de consultas.</p>
                        <button>Descubre más</button>
                    </div>
                    <div class="img_servicio_Iz">
                        <img src="./media/img/monitoreo-de-sintomas-y-tratamientos-2.jpeg" alt="monitoreo de sinntomas y tratamientos">
                    </div>
                </section>

                <!--  Section Gestor de Medicamentos  -->
                <section class="resumen_Servicio_De">
                    <div class="img_servicio_De">
                        <img src="./media/img/gesttion-de-medicamentos.jpeg" alt="gestor de medicamentos y tratamientos">
                    </div>
                    <div class="content_Servicio_De">
                        <h2>Gestor de Medicamentos y Tratamientos</h2>
                        <p>Anota cómo te sientes diariamente.</p>
                        <p>Registra tus tratamientos y consulta cómo han evolucionado con el tiempo.</p>
                        <button>Descubre más</button>
                    </div>
                </section>

                <!--  Section  Accesibilidad y Comodidad  -->
                <section class="resumen_Servicio_Iz">
                    <div class="content_Servicio_Iz">
                        <h2>Cumplimiento de Normativas y Seguridad de Datos</h2>
                        <p>Protección de información bajo normativas internacionales (HIPAA, GDPR).</p>
                        <p>Control de accesos y registros auditables.</p>
                        <button>Descubre más</button>
                    </div>
                    <div class="img_servicio_Iz">
                        <img src="./media/img/proteccion-de-la-informacion.jpeg" alt="proteccion de la informacion">
                    </div>
                </section>
                
                <!--  Section Seguridad y Privacidad  -->
                <section class="resumen_Servicio_De">
                    <div class="img_servicio_De">
                        <img src="./media/img/asistente-de-inteligencia-artificial.jpeg" alt="asistente de inteligencia artificial">
                    </div>
                    <div class="content_Servicio_De">
                        <h2>Asistente de IA para Preguntas Frecuentes (Próximamente)</h2>
                        <p>Reduce el volumen de consultas repetitivas en consulta.</p>
                        <p>Facilita la información al paciente sobre su tratamiento.</p>
                        <button>Descubre más</button>
                    </div>
                </section>
                
                
                <!--  Section Asistente Virtual  -->
                <section class="resumen_Servicio_Iz">
                    <div class="content_Servicio_Iz">
                        <h2>Análisis Predictivo con IA (Futuro Desarrollo)</h2>
                        <p>Identificación de patrones en la salud del paciente para prevención de enfermedades.</p>
                        <p>Personalización de tratamientos basada en datos.</p>
                        <button>Descubre más</button>
                    </div>
                    <div class="img_servicio_Iz">
                        <img src="./media/img/analisis-predictivo-con-inteligencia-artificial.jpeg" alt="analisis predictivo con inteligencia artificial">
                    </div>
                </section>
            </section>
        </main>

        <div th:replace="fragments/footer :: footer"></div>
    </section>
</body>
</html>