<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y Condiciones</title>
    <link rel="shortcut icon" href="./media/favicon_IA_Medica.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/style.css">
    <script src="/js/darkTheme.js" defer></script>
</head>
<body>
    <section>
        <div th:replace="fragments/header :: header"></div>

        <main>
            <section class="section_termCondicion">
                <h1>Términos y Condiciones</h1>
                <section>
                    <h2>1. Identificación del Responsable </h2>
                    <p>VitaLink, con CIF 095678B, domicilio en Tomelloso, y correo electrónico de contacto contact@vitalink.com, es la titular y responsable de la aplicación VitaLink App (en adelante, "la Aplicación"). </p>
                </section>
                <section>
                    <h2>2. Objeto</h2>
                    <p>Los presentes Términos y Condiciones regulan el acceso y uso de la Aplicación, destinada a facilitar la gestión y seguimiento de tratamientos médicos por parte de los usuarios. </p>
                </section>
                <section>
                    <h2>3. Aceptación de los Términos</h2>
                    <p>El acceso y uso de la Aplicación implica la aceptación plena y sin reservas de los presentes Términos y Condiciones.</p>
                </section>
                <section>
                    <h2>4. Uso de la Aplicación</h2>
                    <ul>
                        <li><strong>Requisitos de uso:</strong> Para utilizar la Aplicación, el usuario debe ser mayor de edad y disponer de la capacidad legal necesaria. </li>
                        <li><strong>Responsabilidad del usuario:</strong> El usuario se compromete a proporcionar información veraz y actualizada, y a utilizar la Aplicación conforme a la ley y a estos Términos y Condiciones. </li>
                    </ul>
                </section>
                <section>
                    <h2>5. Servicios Ofrecidos</h2>
                    <p>La Aplicación permite a los usuarios:</p>
                    <ul>
                        <li>Registrar y gestionar sus tratamientos médicos.</li>
                        <li>Programar y recibir recordatorios de medicación y citas médicas.</li>
                        <li>Registrar y monitorear síntomas y evolución de su estado de salud.</li>
                    </ul>
                </section>
                <section>
                    <h2>6. Limitaciones de Responsabilidad</h2>
                    <p>La Aplicación no sustituye la consulta médica profesional. VitaLink no se responsabiliza de las decisiones tomadas por los usuarios basadas en la información proporcionada por la Aplicación.</p>
                </section>
                <section>
                    <h2>7. Protección de Datos Personales</h2>
                    <p>El tratamiento de los datos personales de los usuarios se regirá por lo dispuesto en la Política de Privacidad de la Aplicación, disponible en esta página web.</p>
                </section>
                <section>
                    <h2>8. Propiedad Intelectual</h2>
                    <p>[Nombre de la Empresa] es titular de todos los derechos de propiedad intelectual e industrial de la Aplicación. Queda prohibida la reproducción, distribución o transformación no autorizada de la Aplicación.</p>
                </section>
                <section>
                    <h2>9. Modificaciones</h2>
                    <p>VitaLink se reserva el derecho de modificar estos Términos y Condiciones en cualquier momento. Las modificaciones serán notificadas a los usuarios a través de la Aplicación o por otros medios adecuados.</p>
                </section>
                <section>
                    <h2>10. Legislación Aplicable y Jurisdicción </h2>
                    <p>Estos Términos y Condiciones se rigen por la legislación española. Para la resolución de cualquier conflicto, las partes se someten a los juzgados y tribunales de Tomelloso, renunciando expresamente a cualquier otro fuero que pudiera corresponderles.</p>
                </section>
            </section>
        </main>

        <div th:replace="fragments/footer :: footer"></div>
    </section>
</body>
</html>