<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Tratamientos</title>
    <link rel="shortcut icon" href="./media/favicon_IA_Medica.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/style2.css">
    <script src="../static/js/tratamientos.js"></script>
    <script src="/js/darkTheme.js" defer></script>
</head>
<body>
    <section class="contenedor">
        <div th:replace="fragments/header :: header"></div>

        <main id="main-tratamientos">
            <section class="section-tratamientos">
                <h2>Nuevo Tratamiento</h2>
                <form id="formulario-tratamientos" th:action="@{/guardarTratamiento}" method="post" th:object="${tratamiento}">
                <label for="nombre_tratamiento">Nombre del medicamento:</label>
                <input type="text" id="nombre_tratamiento" th:field="*{nombre_tratamiento}" required>

                <label for="forma_farmaceutica">Forma farmacéutica:</label>
                <select id="forma_farmaceutica" th:field="*{formula}">
                  <option value=""></option>
                  <option value="tableta">Tableta</option>
                  <option value="jarabe">Jarabe</option>
                  <option value="inyectable">Inyectable</option>
                </select>

                <label for="dosis">Dosis (ej. 500 mg):</label>
                <input type="text" id="dosis" th:field="*{dosis}" required>

                <label for="frecuencia">Frecuencia:</label>
                <input type="text" id="frecuencia" th:field="*{frecuencia}" placeholder="ej. Cada 8h, 1 vez al día">

                <label for="duracion">Duración (días):</label>
                <input type="number" id="duracion" th:field="*{duracion}" min="1" required>

                <label for="inicio">Fecha de inicio:</label>
                <input type="date" id="inicio" th:field="*{fecha_inicio}" required>

                  <label for="fin">Fecha de fin:</label>
                <input type="date" id="fin" th:field="*{fecha_fin}" required>

                <label class="lb-checkbox"><input type="checkbox" id="con_alimentos" th:field="*{toma_alimentos}"> Tomar con alimentos</label>

                <label for="observaciones">Observaciones:</label>
                <textarea id="observaciones" th:field="*{observaciones}"></textarea>

                <label for="estado">Estado:</label>
                <select id="estado" th:field="*{estado_tratamiento}">
                  <option value="activo">Activo</option>
                  <option value="finalizado">Finalizado</option>
                </select>

                <label for="relacion_sintomas">Síntomas o diagnóstico relacionado:</label>
                <input type="text" id="relacion_sintomas" th:field="*{sintomas}" placeholder="ej. Presión alta, dolor de cabeza">

                <button type="submit">Guardar tratamiento</button>
              </form>
            </section>
            <section class="section_tabla_tratamientos">
                <h2>💊 Tratamientos Registrados</h2>

                <table class="tabla-tratamientos">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Formula</th>
                        <th>Dosis</th>
                        <th>Frecuencia</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Con alimentos</th>
                        <th>Observaciones</th>
                        <th>Estado</th>
                        <th>Relacionados</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tratamiento : ${tratamientos}">
                        <td th:text="${tratamiento.id_tratamiento}"></td>
                        <td th:text="${tratamiento.nombre_tratamiento}"></td>
                        <td th:text="${tratamiento.formula}"></td>
                        <td th:text="${tratamiento.dosis}"></td>
                        <td th:text="${tratamiento.frecuencia}"></td>
                        <td th:text="${tratamiento.fecha_inicio}"></td>
                        <td th:text="${tratamiento.fecha_fin}"></td>
                        <td th:text="${tratamiento.toma_alimentos}"></td>
                        <td th:text="${tratamiento.observaciones}"></td>
                        <td th:text="${tratamiento.estado_tratamiento}"></td>
                        <td th:text="${tratamiento.sintomas}"></td>
                    </tr>
                    </tbody>
                </table>
            </section>
          </main>

        <div th:replace="fragments/footer :: footer"></div>
    </section>
</body>
</html>